@font-face {
  font-family: "Star Jedi";
  src: url("star-jedi.woff") format("woff"),
       url("star-jedi.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator-wrapper {
  display: flex;
  align-items: center;
}

.side-image {
  height: 200px;
  width: 200px;
  margin: 0 100px;
  background-color: transparent;
}


body {
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Orbitron', sans-serif;
}

.container {
  background-color: rgba(28, 28, 28, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Added to center the calculator within the container */
}


h1 {
  color: #fff;
  font-family: "Star Jedi"; 
  font-size: 3rem;
  margin-bottom: 1rem;
}

.calculator {
  background-color: #373737;
  border: 3px solid #565656;
  border-radius: 10px;
  padding: 20px;
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  margin-bottom: 20px;
  width: 100%;
}

.display input {
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 24px;
  text-align: right;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
}

button {
  background-color: #494949;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 15px;
  width: 100%;
}

button:hover {
  background-color: #696969;
}

button:active {
  background-color: #303030;
}

.equals {
  grid-column:
